<button mat-button color="primary" (click)="openDialog()">Create new user</button>
<p *ngFor="let user of users"><span routerLink="/todos/todo/{{user.id}}">{{user.user}} {{user.email}} {{user.id}}
    </span><button mat-button color="primary" (click)="openDialog(user)">Edit user data</button> <button mat-button
        color="warn" (click)="remove(user.id)">Remove</button></p>

<ng-template #callAPIDialog>
    <h2 matDialogTitle>Are you sure?</h2>
    <mat-dialog-actions align="end">
        <button mat-button matDialogClose="no">No</button>
        <button color="warn" class="mat-raised-button mat-warn" mat-button matDialogClose="yes">Yes</button>
    </mat-dialog-actions>
</ng-template>