<h1 mat-dialog-title>{{dialogTitle}}</h1>
<mat-dialog-content class="form" [formGroup]="form">


    <mat-form-field>
        <input matInput placeholder="Title" formControlName="title">
    </mat-form-field>

    <mat-form-field>
        <textarea matInput type="text" placeholder="Task Description" formControlName="description"></textarea>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Select User</mat-label>
        <mat-select formControlName="user">
            <mat-option style="background-color: red; color: white;" [value]="unAssign">
                {{unAssign.user}}
            </mat-option>
            <mat-option *ngFor="let user of users" [value]="user">
                {{user.user}}
            </mat-option>
        </mat-select>
    </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button [ngStyle]="{'margin-right': '2px'}" class="mat-raised-button" (click)="close()">Close</button>
    <button [disabled]="!form.valid" class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>