<button style='margin-left: 5px;' class="mat-raised-button mat-primary" (click)="openDialog()">Create new task</button>
<h1 *ngIf="!!username">User: {{username}}</h1>
<h1 *ngIf="!username">All Tasks</h1>
<div class="appearance">
    <div class="example-container">

        <h2>To do</h2>

        <div cdkDropList #todoList="cdkDropList" [cdkDropListData]="todo" [cdkDropListConnectedTo]="[doneList]"
            class="example-list" (cdkDropListDropped)="drop($event, 'todo')">
            <div class="example-box" *ngFor="let item of todo; let i = index" cdkDrag>
                <app-todo (removeTask)="remove($event)" (newData)="openDialog($event)" [data]="item" [index]="i"
                    [typeOfList]="'todo'"></app-todo>

            </div>
        </div>
    </div>

    <div class="example-container">
        <h2>Done</h2>

        <div cdkDropList #doneList="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[todoList]"
            class="example-list" (cdkDropListDropped)="drop($event, 'done')">
            <div class="example-box" *ngFor="let item of done;let i = index" cdkDrag>
                <app-todo (removeTask)="remove($event)" (newData)="openDialog($event)" [data]="item" [index]="i"
                    [typeOfList]="'done'"></app-todo>
            </div>
        </div>

    </div>
</div>